#buttonTwo {
}
#buttonThree {
	display: none;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
}

.bodyClassInit {
	background-image: url('../../images/e923c8dd3e916014c25b1fb159c005ad.png');
}

.bodyClassOne {
	background-image: url('../../images/night_sky_wallpaper_by_dji435-d66882b.png');
}

.bodyClassTwo {
	background-image: url('../../images/AC.gif');
}

.bodyClassBaron {
	background-image: url('../../images/Dungeon-of-the-Endless-Feature-Image.jpg');
}

.bodyClassDrake {
	background-image: url('../../images/images.jpg');
}

.bodyClassVictory {

}

.hidden {
	display: none;
}

.visible {
	display: block;
}

p {
	margin: 0;
	color: white;
}

.charImageDiv {
	height: 250px;
	width: 250px;
}

#userChar {
	position: absolute;
	right: 5%;
	top: 0%;
}

#compChar {
	position: absolute;
	right: 5%;
	bottom: 20%;
}